
<div class="container mt-3">
    <div class="row justify-content-between alert alert-success">
        <h1 class="col-4">
            Bienvenido {{nombre}}
        </h1>
        <button class="col-4 btn btn-warning mt-2" method='post' onclick="location.href='/api/logout'">
        Desloguear
        </button>
    </div>
</div>
